[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
colorama = "*"
websockets = "*"
requests = "*"
simple-term-menu = "*"
aioconsole = "*"

[dev-packages]

[requires]
python_version = "3.9"
