[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
simple-term-menu = "*"
aioconsole = "*"
cryptography = "*"
aiohttp = "*"

[dev-packages]
pytest-mock = "*"
pytest-asyncio = "*"
pytest = "*"
black = "*"
flake8 = "==3.9.1"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
